body{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.698);
}

/* estilizando o paragráfo que tem o seletor class */
.destaque{
    color: rgb(220, 9, 76);  
    font-size: 20px;
}

/* estilizando o paragráfo que tem o seletor id */
#titulo-principal{
    color: rgb(14, 229, 100);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p.par-destaque {
    color: rgb(7, 32, 115);
}

#info p {
    color: red;
    font-size: 30px;
}

