body {
    text-align: center;
}

#descendente div p {
    color: blue;
}

#filho-direto div > p {
    color: red;
}

#adjacente h3 + p {
    color: orange;
}

#irmaos h3 ~ p {
    color: purple;
}

#grupo h1, #grupo h2, #grupo p {
    font-weight: bold;
    color: green;
}

#combinando .container p.especial {
    color: rgb(29, 2, 27);
}
